*{margin:0; padding:0; box-sizing:border-box;}
input:focus, button:focus{outline:0}

body{
    font-family:'Poppins';
}
 h2{
    font-size:25px;
    padding:10px 20px;
    color:white;
    background-color: cadetblue;

 }

 #chat-wrap{
    max-width: 600px;
    margin:30px auto;
    border:1px solid #ccc;
    border-radius: 5px;

 }
 

 #chat-window{
    height:400px;
    overflow-y:auto ;

 }

#output p{
    font-size: 15px;
    padding:12px;

}
#output p:nth-child(even){
    background-color: #ccc;
    
}

#feedback p{
    font-size:15px;
    padding:12px;
}

#output strong{
    color:cadetblue;
}

input{
    font-family: 'Poppins';
    padding:10px 20px;
    background-color: white;
    border:0;
    border-top: 1px solid #ccc;
    width:100%;
    font-size:15px;
    
}

button{
    font-family:'Poppins';
    background-color:cadetblue;
    color: white;
    border:0;
    border-radius:0 0 5px 5px;
    padding:12px 0px;
    width:100%;
    font-size: 17px;

    
}    



